<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h1>Editing Patient</h1>

    <%= render 'form', patient: @patient %>

    <%= link_to 'Show', @patient %> |
    <%= link_to 'Back', patients_path %>
</main>
